<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /tss_staging/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /tss_staging/index.php [L]
</IfModule>
